*,p{
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
    width: 100%;
    background: #e8e8e8;
}
.wrap_title{
    height: 44px;
    line-height: 44px;
    text-align: center;
    background: #fff;
}
.infor{
    margin-top: 17px;
    width: 100%;
    padding: 17px 2%;
    box-sizing: border-box;
    text-indent: 10px;
    font-size: 12px;
    color: #b8b8b8;
    background: #fff;
    min-height: 200px;
}
.order_detail_pay_wrap{
    width: 100%;
    padding: 0 5%;
    margin: 7px 0;
    box-sizing: border-box;
    overflow: hidden;
    background: #fff;
}
.order_detail_pay_infor{
    height: 40px;
    line-height: 40px;
    display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-between; /* Safari 6.1+ */
    display: flex;
    justify-content: space-between;
    color: #999;
    font-size: 12px;
}
