*,p{
  padding: 0;
  margin: 0;
}
body{
  height: 100%;
  background: #EDEDED;
}
li{
  list-style: none;
}
.coupon_wrap,.coupon_infor,.coupon_infor_ul{
  height: 100%;
}
.coupon_infor_ul{
  margin: 10px;
}
.coupon_infor_li{
  margin-bottom: 14px;
}
.coupon_infor_li a{
  display: block;
  overflow: hidden;

}
.coupon_left{
  width: 36.9%;
  box-sizing: border-box;

  border-left: 4px dotted #DC6463;
}
.coupon_left_infor{
  background: -webkit-linear-gradient(-35deg, #DC6463 0%, #3D4A7D 100%); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(-35deg, #DC6463 0%, #3D4A7D 100%); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(-35deg, #DC6463 0%, #3D4A7D 100%); /* Firefox 3.6 - 15 */
  background: linear-gradient(-35deg, #DC6463 0%, #3D4A7D 100%); /* 标准的语法（必须放在最后） */
  height: 103px;
}
.coupon_right{
  width: 63.1%;
  box-sizing: border-box;
  height: 103px;
  background: #fff;
}
.coupon_left_infor_price{
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  height: 65px;
  line-height: 65px;
}
.coupon_left_infor_price span{
  font-size: 16px;
}
.coupon_left_infor_area{
  text-align: center;
}
.coupon_right_name{
  color: #757575;
  font-size: 16px;
  padding-left: 10px;
  padding-top: 14px;
  padding-bottom: 27px;
}
.coupon_right_time{
  padding-left: 10px;
  color: #b2b2b2;
}
