*,p{
    padding: 0;
    margin: 0;
}
input{
    border: none;
    outline-style: none;
    border-bottom: 1px solid #8b8b8b;
}
body,html{
    height: 100%;
    width: 100%;
    background: #fff;
}
.my_profile_wrap{
    width: 300px;
    margin: 17px auto;

}
.my_profile_infor_type{
    margin-top: 17px;
}
.my_profile_title{
    display: inline-block;
    width:75px;
    height: 30px;
    line-height: 30px;

}
.my_profile_input{
    display: inline-block;
    width: 225px;
    padding: 14px 0 2px 0;
    text-indent: 7px;
}
.button{
    text-align: right;
    margin-top: 27px;
}
.button_xiugai{
    color: #b8b8b8;
    margin-right: 27px;
}
.button_baocun{
    color: blue;
}
