body{
  background: #dcdcdc;
}
.product_infor{
  padding: 20px 10px;
  margin: 10px;
  position: relative;
  height: 65px;
}
.product_name{
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}
.product_price{
  font-size: 20px;
  color:red;
}
.product_price span{
  font-size: 16px;
}
.product_infor_in{
  padding: 20px 10px;
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
  width: 100%;
  background: #fff;
  box-sizing: border-box;
  z-index: 99;
  border-radius: 6px;
}
.product_remind{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: #fff;
}
.product_remind p {
  width: 50%;
  text-indent: 10px;
  line-height: 25px;
  height: 25px;
  padding: 20px 0;
}
.project_infor_img{
  width: 100%;
  margin: 20px 0 70px;
}
.project_infor_img img{
  width: 100%;
}
.project_list_button{
  width: 100%;
  text-align: right;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: #fff;
  border-top: 1px solid #dcdcdc;
}
.project_list_button p{
  height: 64px;
  line-height: 64px;
  background: red;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.background{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 8888;
  display: none;
}
.projecrt_number{
  position: fixed;
  top: 40%;
  left: 0;
  right: 0;
  background: #fff;
  border-radius: 20px;
  z-index: 9999;
  display: none;
}
.projecrt_number p {
  float: left;
  width: 33.3%;
  box-sizing: border-box;
  text-align: center;
  height: 67px;
  line-height: 67px;

}
#number{
  border: none;
  outline-style: none;
  height: 27px;
  line-height: 27px;

  width: 100%;
}
.input_out{
  width: 100%;
  display: inline-block;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  height: 35px;
  line-height: 35px;
}
.projecrt_number_in{
  position: relative;
}
.sure{
  position: absolute;
  top: 100px;
  left: 50%;
  right: 50%;
  margin-left: -40px;
  margin-right: -40px;
  z-index: 9999;
  width: 80px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  border-radius: 8px;
  background: #DE5145;
  border: none;
  color: #fff;
}
