.record_img{
  width:20px;
  margin-right:5px;
  display:block;
}
.record_time{
  font-size: 12px;
  margin: 0;
}
.record_name{
  padding-left: 27px;
}
.page__hd{
  padding: 0 40px;
}
.record_title{
    padding-left: 40px;
}
