
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <title>激活会员</title>
    <link rel="stylesheet" href="{{static_host}}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{static_host}}/css/weui.css">
    <link rel="stylesheet" href="{{static_host}}/css/my_contract.css">
    <link rel="stylesheet" href="css/activate_card.css">
</head>
<body>
    <div id="content"></div>

    <script type="text/javascript">
      var openid = "{{openid}}";
      var state = "{{state}}";
      var mobile = "{{mobile}}";
      var person_name = "{{person_name}}";
      var id_card = "{{id_card}}";
      var vehicle_id = "{{vehicle_id}}";
    </script>
    <script src="{{static_host}}/js/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="{{static_host}}/js/bootstrap.min.js"></script>
    <script src="js/app/activate_card.js"></script>

</body>
</html>
