<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <title>预约试驾</title>
    <link rel="stylesheet" href="{{static_host}}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{static_host}}/css/weui.css">
    <!-- 日历控件 -->
    <link rel="stylesheet" href="{{static_host}}/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="{{static_host}}/css/appointment.css">
</head>
<body>
    <div id="content" class="container-fluid"></div>

    <script type="text/javascript">
    var selected;
    </script>
    <script src="{{static_host}}/js/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="{{static_host}}/js/bootstrap.min.js"></script>

    <script src="{{static_host}}/js/bootstrap-datetimepicker.min.js"></script>

    <script src="{{static_host}}/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="js/app/appointment.js"></script>

    <!-- 日历 -->
    <script type="text/javascript">

        $(function(){

            $("#yuyue_appointment").datetimepicker({
                language:"zh-CN",
                format: 'yyyy-mm-dd',
                autoclose: true,
                minView:2,
                timepicker:false,    //关闭时间选项
                todayButton:true,    //打开选择今天按钮
                startView:2
            })

        });

    </script>


</body>
</html>
