<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <title>首页</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/weui.css">
    <link rel="stylesheet" href="css/newflash.css">
    <link rel="stylesheet" href="css/product_home.css">
</head>
<body>
    <div id="product" class=""></div>

    <script type="text/javascript">
        var items = [{id:1,img:"images/clothing_flash.jpg"},{id:2,img:"images/clothing_flash.jpg"},{id:3,img:"images/clothing_flash.jpg"},{id:4,img:"images/clothing_flash.jpg"}];
        var rate = 0.4;
    </script>
    <script type="text/javascript">
    </script>
    <script src="js/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/app/index.js"></script>
</body>
</html>
