
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <title>会员权益</title>
    <link rel="stylesheet" href="{{static_host}}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{static_host}}/css/weui.css">
</head>
<body>
  <div class="statement">
      <div class="page article js_show">
      <div class="page__hd">
          <h1 class="page__title">上海弘仁汽车俱乐部<br/>电子会员卡使用条例</h1>
      </div>
      <div class="page__bd">
          <article class="weui-article">
              <h1>第一章 &nbsp;&nbsp;&nbsp;总则</h1>
              <section>
                  <section>
                      <h3>第一条</h3>
                      <p>
                          本俱乐部是一个向弘仁车主宣传汽车文化，交流会员感情，开展会员活动，
                          投身户外运动，关心公益事业，享受快乐生活为宗旨的非赢利性团体组织。
                          以互联网为平台，通过整合全体俱乐部会员的广泛资源体现品牌化、标准化、
                          网络化、契约化的会员制汽车俱乐部。
                      </p>
                      <h3>第二条</h3>
                      <p>
                          本俱乐部欢迎上海地区汽车车主自愿加入。加入会员的车辆不受地区、人员的限制。
                      </p>
                      <h3>第三条</h3>
                      <p>
                          本俱乐部会员实行一车一卡一标制。会员车辆必须拥有一切合法的行驶证件，并通过检验合格，手续齐备。
                      </p>
                      <h3>第四条&nbsp;&nbsp;本俱乐部活动范围：</h3>
                      <p>
                          4.1&nbsp;&nbsp;车辆出游、户外野营、市内联谊、汽车拉力、场地竞技、车事论坛、文体活动、社会公益活动，
                          尽可能利用周六、周日和节假日组织各项休闲活动及市内联谊活动。
                      </p>
                      <p>
                          4.2&nbsp;&nbsp;活动参加者本着AA制原则，自由组合、自愿参加、确保安全、风险自担、责任自负的原则。
                      </p>
                      <p>
                          4.3&nbsp;&nbsp;在活动中如发生事前难以预料的及不可抵御的自然灾害等造成的人身伤亡事故，
                          本俱乐部不负担法律、经济和医疗责任我们建议会员购买相关的保险。
                      </p>
                      <p>
                          4.4&nbsp;&nbsp;在未经本俱乐部许可的情况下，其他任何会员或非会员不得以本俱乐部的名义组织和计划各类活动。
                          否则，由此引起的后果，将由当事人自负。
                      </p>
                  </section>
              </section>
              <h1>第二章 &nbsp;&nbsp;&nbsp;申请入会的条件</h1>
              <section>
                  <section>
                      <h3>第五条</h3>
                      <p>
                          遵守《中华人民共和国宪法》和各项法律、法规。
                      </p>
                      <h3>第六条</h3>
                      <p>
                          热爱汽车、热爱俱乐部活动，热爱自驾游及户外运动、团结友爱。
                      </p>
                      <h3>第七条</h3>
                      <p>
                          拥有齐全法定手续的汽车。
                      </p>
                      <h3>第八条</h3>
                      <p>
                          年满18周岁，个人持有合法驾驶证件，身体健康无神经或精神病以及传染病，具有独立民事行为能力，能够对自己行为负责。
                      </p>
                      <h3>第九条</h3>
                      <p>
                          承诺遵守本俱乐部《会员手册》，积极参与俱乐部活动者。
                      </p>
                      <h3>第十条</h3>
                      <p>
                          提交《会员申请表》，并登记会员资料，经审核合格、注册成功后，成为本俱乐部会员。
                      </p>
                  </section>
              </section>
              <h1>第三章 &nbsp;&nbsp;&nbsp;会员的权利、义务</h1>
              <section>
                  <section>
                      <h3>第十一条</h3>
                      <p>
                          自觉遵守国家的法律、法规及各项规章制度，自觉维护本俱乐部形象，不得损害俱乐部及其他会员的利益。
                      </p>
                      <h3>第十二条</h3>
                      <p>
                          会员可享受俱乐部所提供的所有服务。
                      </p>
                      <h3>第十三条</h3>
                      <p>
                          保持和维护会员之间的团结、和谐气氛、不得对俱乐部其他成员发表人身攻击的言论和行为，尊重他人隐私。
                      </p>
                      <h3>第十四条</h3>
                      <p>
                          严禁骚扰异性。
                      </p>
                      <h3>第十五条</h3>
                      <p>
                          会员的联络信息及车辆资料需变更时需及时通知俱乐部，以便俱乐部能继续为其提供服务。
                      </p>
                      <h3>第十六条</h3>
                      <p>
                          享受俱乐部提供的服务时须主动出示会员卡，并随车携带。
                      </p>
                      <h3>第十七条</h3>
                      <p>
                          会员有投诉的权利。对服务表示不满时，会员可在一周内向俱乐部投诉，俱乐部将在三个工作日内给予答复。
                      </p>
                  </section>
              </section>
              <h1>第四章 &nbsp;&nbsp;&nbsp;俱乐部的权利、义务</h1>
              <section>
                  <section>
                      <h3>第十八条</h3>
                      <p>
                          俱乐部将依照本章程提供优质、快捷、规范的服务，充分保障会员的合法利益。
                      </p>
                      <h3>第十九条</h3>
                      <p>
                          对违背章程的会员，俱乐部有权拒绝为其提供服务。造成本俱乐部损失的（包括名誉损失），俱乐部保留进一步追偿的权利。
                      </p>
                      <h3>第二十条</h3>
                      <p>
                          俱乐部保留根据国家法律和规定修改本章程，修改后的条款对会员具有同等效力。
                      </p>
                      <h3>第二十一条</h3>
                      <p>
                          俱乐部将对会员的资料采取必要的保密管理，未经会员本人的授权，不对外公开。
                      </p>
                  </section>
              </section>

              <h1>第五章 &nbsp;&nbsp;&nbsp;俱乐部的管理机构</h1>
              <section>
                  <section>
                      <h3>第二十二条</h3>
                      <p>
                          本俱乐部常设管理机构为理事会，理事会是会员推选的执行机构，负责领导本会开展日常工作。
                          理事会人员均系义务工作，没有任何酬金报酬，必须具备下列条件：
                      </p>
                      <p>
                          1.1&nbsp;&nbsp;在本会领域内有较大影响，有号召力，积极、热情、主动、服务。
                      </p>
                      <p>
                          1.2&nbsp;&nbsp;身体健康，能坚持日常工作。
                      </p>
                      <p>
                          1.3&nbsp;&nbsp;具有完全民事行为能力。
                      </p>
                      <h3>第二十三条&nbsp;&nbsp;理事会的职责</h3>
                      <p>
                          3.1&nbsp;&nbsp;全心全意为会员服务；
                      </p>
                      <p>
                          3.2&nbsp;&nbsp;在会员和公司之间起沟通作用；
                      </p>
                      <p>
                          3.3&nbsp;&nbsp;主持俱乐部的各项活动；
                      </p>
                      <p>
                          3.4&nbsp;&nbsp;召开理事会议和会员代表大会；
                      </p>
                      <p>
                          3.5&nbsp;&nbsp;主持办事机构的日常工作；
                      </p>
                      <p>
                          3.6&nbsp;&nbsp;组织实施年内的活动计划；
                      </p>
                      <p>
                          3.7&nbsp;&nbsp;两名理事提出的议案的可通过理事长传达召开理事会；
                      </p>
                      <p>
                          3.8&nbsp;&nbsp;协调本会会员之间的沟通及与外单位的沟通工作；
                          处理日常工作（活动）中遇到的矛盾和需解决的问题对有意见分歧和争议的提案可进行投票表决。
                          未经俱乐部授权，任何人不得以俱乐部名义联络有关事宜；
                      </p>
                      <p>
                          3.9&nbsp;&nbsp;对外联络透明制，任何接洽及涉及账务等有关事项均应有两人以上同行；
                      </p>
                      <h3>第二十四条</h3>
                      <p>
                          理事会组成人员任期一年，可连选连任。
                      </p>
                  </section>
              </section>

              <h1>第六章 &nbsp;&nbsp;&nbsp;附则</h1>
              <section>
                  <section>
                      <h3>第二十五条</h3>
                      <p>
                          本俱乐部保留对本章程的解释权和修改权。
                      </p>
                      <h3>第二十六条</h3>
                      <p>
                          本俱乐部无线电通信频率为：XXXX为方便出行通信联络，
                          会员应尽量配备无线电通讯工具（具体情况请与俱乐部负责人联系）
                          并遵守国家对于无线电通讯联络的相关规定。
                      </p>
                      <h3>第二十七条</h3>
                      <p>
                          俱乐部形成规模后将统一办理无线电使用证。
                      </p>
                      <h3>第二十八条</h3>
                      <p>
                          俱乐部网络交流平台为QQ群：241990418
                      </p>
                  </section>
              </section>
            <h1>上海弘仁汽车俱乐部</h1>
            <h1>2011年1月8日</h1>
          </article>
      </div>
    </div>
  </div>
</body>
</html>
