<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <title>注册</title>
    <link rel="stylesheet" href="css/weui.css">
    <link rel="stylesheet" href="css/example.css">
    <link rel="stylesheet" href="css/signup.css">
</head>
<body>
    <div id="signup"></div>

    <script type="text/javascript">;
    </script>
    <script src="js/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/app/signup.js"></script>
</body>
</html>
