
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <title>会员卡声明</title>
    <link rel="stylesheet" href="{{static_host}}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{static_host}}/css/weui.css">
    <link rel="stylesheet" href="{{static_host}}/css/my_contract.css">
</head>
<body>
  <div class="statement">
      <div class="page article js_show">
      <div class="page__hd">
          <h1 class="page__title">上海弘仁汽车俱乐部<br/>电子会员卡使用条例</h1>
      </div>
      <div class="page__bd">
          <article class="weui-article">
              <h1>第一章 &nbsp;&nbsp;&nbsp;总则</h1>
              <section>
                  <section>
                      <h3>第一条</h3>
                      <p>
                          会员卡的使用需遵照《上海弘仁汽车俱乐部会员手册》。
                      </p>
                      <h3>第二条</h3>
                      <p>
                          会员卡的使用需遵照《上海弘仁汽车俱乐部会员积分条例》。
                      </p>
                  </section>
              </section>
              <h1>第二章 &nbsp;&nbsp;&nbsp;会员类别和等级</h1>
              <section>
                  <section>
                      <h3>第三条</h3>
                      <p>
                          本俱乐部会员分为普通会员和VIP充值会员两大类。
                      </p>
                      <h3>第四条</h3>
                      <p>
                          VIP充值会员分银卡会员、金卡会员、钻卡会员三个级别。
                      </p>
                  </section>
              </section>
              <h1>第三章 &nbsp;&nbsp;&nbsp;会员申请</h1>
              <section>
                  <section>
                      <h3>第五条普通会员：&nbsp;&nbsp;&nbsp;普通会员：</h3>
                      <p>
                          （1）&nbsp;&nbsp;提交《会员申请表》，经审核合格后，即可成为上海弘仁汽车俱乐部的普通会员。
                      </p>
                      <p>
                          （2）&nbsp;&nbsp;普通会员：可预充值0-1499元。普通会员充值金额没有达到VIP会员卡最低充值额度标准的，享受普通会员的待遇。
                      </p>
                      <h3>第六条普通会员：&nbsp;&nbsp;&nbsp;VIP充值会员：</h3>
                      <p>
                          （3）&nbsp;&nbsp;提交《上海弘仁汽车俱乐部会员申请表》，经审核合格后，并在卡内充值相应金额，即可享受相应VIP卡待遇。
                      </p>
                      <p>
                          （4）&nbsp;&nbsp;银卡会员：首次充值额为1500元。
                      </p>
                      <p>
                          （5）&nbsp;&nbsp;金卡会员：首次充值额为3000元。
                      </p>
                      <p>
                          （6）&nbsp;&nbsp;钻卡会员：首次充值额为5000元。
                      </p>
                  </section>
              </section>
              <h1>第四章 &nbsp;&nbsp;&nbsp;会员卡的使用范围</h1>
              <section>
                  <section>
                      <h3>第七条</h3>
                      <p>
                          会员卡的预充值金额可全额作为现金在上海弘仁服务站消费使用，可用于车辆的保养、
                          维修（不含保险事故车）、加装精品、洗车、深层养护等售后服务消费项目。特别注明的项目除外，
                          以俱乐部发布的公告为准。
                      </p>
                      <h3>第八条</h3>
                      <p>
                          会员可同时享受上海弘仁服务站开展的售后优惠促销活动，以优惠幅度大的为准，不重复享受。
                      </p>
                      <h3>第九条</h3>
                      <p>
                          会员享受的维修工时折扣优惠不含事故车辆的维修（保险事故维修和非保险事故维修）。
                      </p>
                  </section>
              </section>

              <h1>第五章 &nbsp;&nbsp;&nbsp;会员卡的使用条件</h1>
              <section>
                  <section>
                      <h3>第十条</h3>
                      <p>
                          本俱乐部会员实行一车一卡制，非本卡注册的车牌号无法使用。
                      </p>
                      <h3>第十一条</h3>
                      <p>
                          会员须在结算前出示与车牌号对应的会员卡，通过专用读卡器识别通过后，
                          方可享受软件系统自动设置的对应会员卡级别的待遇。如会员没有随身携带会员卡，
                          则无法享受会员优惠待遇；同时，软件系统一经结算，无法再给予优惠。
                      </p>
                      <h3>第十二条</h3>
                      <p>
                          VIP会员使用会员卡全额支付消费金额时，才能享受对应会员卡级别的待遇。
                          使用现金支付、或者部分现金部分卡内余额支付的，因系统无法识别并自动计算折扣，
                          故无法享受对应会员卡级别的会员服务和优惠项目。会员卡内金额不足当次消费额时，
                          需续费充值后方可使用结算，享受相应级别待遇；温馨提示：请会员在消费结算前及时续费充值，
                          请参照“会员卡续费”章节。
                      </p>
                  </section>
              </section>

              <h1>第六章 &nbsp;&nbsp;&nbsp;会员卡续费</h1>
              <section>
                  <section>
                      <h3>第十三条&nbsp;&nbsp;&nbsp;VIP会员每次续费充值金额的标准如下：</h3>
                      <p>
                          ——银卡1500元（或1500元的倍数）；
                      </p>
                      <p>
                          ——金卡3000元（或3000元的倍数）；
                      </p>
                      <p>
                          ——钻卡5000元（或5000元的倍数）；
                      </p>
                      <p>
                          举例：某银卡会员的卡内余额不足当次消费额需续费时，应充值1500元方可继续享受银卡待遇；
                          某金卡会员的卡内余额不足当次消费额需续费时，应充值3000元方可继续享受金卡待遇；
                          某钻卡会员的卡内余额不足当次消费额需续费时，应充值5000元方可继续享受钻卡待遇；
                      </p>
                  </section>
              </section>

              <h1>第七章 &nbsp;&nbsp;&nbsp;会员卡升级</h1>
              <section>
                  <section>
                      <h3>第十四条</h3>
                      <p>
                          会员卡续费充值时，可按照所充值的金额相对应的级别自动升级会员卡，原会员卡内的余额可以转入新卡；
                      </p>
                      <p>
                          举例：某银卡会员的卡内余额不足当次消费时，该会员可选择①充值1500元，继续享受银卡待遇；
                          ②充值3000元，升级为金卡会员并享受金卡待遇；③充值5000元，升级为钻卡会员并享受钻卡待遇；
                      </p>
                      <h3>第十五条</h3>
                      <p>
                          第十五条会员升级后，须重新提交申请，更换原会员卡。
                      </p>
                  </section>
              </section>

              <h1>第八章 &nbsp;&nbsp;&nbsp;会员卡降级</h1>
              <section>
                  <section>
                      <h3>第十六条</h3>
                      <p>
                        会员卡续费充值时，充值额低于本卡对应最低充值额时，本卡相应降级；
                      </p>
                      <p>
                          举例：某钻卡会员的卡内余额不足当次消费时，如该会员选择①充值3000元，
                          降级为金卡会员并享受金卡待遇；②充值1500元，降级为银卡会员并享受银卡待遇；
                          ③充值0-1499元，降级为普通会员并享受普通会员待遇；
                      </p>
                  </section>
              </section>

              <h1>第九章 &nbsp;&nbsp;&nbsp;会员降级后，须更换原会员卡。</h1>
              <h1>第十章 &nbsp;&nbsp;&nbsp;会员卡补办</h1>
              <section>
                  <section>
                      <h3>第十七条</h3>
                      <p>
                        任何人可使用会员卡在上海弘仁服务站进行消费，上海弘仁服务站不负责辨认用卡人身份和签名。
                      </p>
                      <h3>第十八条</h3>
                      <p>
                        上海弘仁服务站对会员卡因被盗、遗失等原因而被冒用不承担责任。请会员妥善保管。
                      </p>
                      <h3>第十九条</h3>
                      <p>
                        条会员补办会员卡，需要会员凭本人身份证亲自到弘仁服务站办理。
                      </p>
                      <h3>第二十条</h3>
                      <p>
                        条补办会员卡，须重新提交申请，更换【或重新绑定】原会员卡。
                      </p>
                  </section>
              </section>

              <h1>第十一章 &nbsp;&nbsp;&nbsp;会员卡转让</h1>
              <section>
                  <section>
                      <h3>第二十一条</h3>
                      <p>
                        第二十一条会员因需要求转让会员卡时，转让人和被转让人须携带会员卡和本人身份证，
                        同时亲自到本俱乐部提出书面申请，经审核合格后，给予办理。予办理。
                      </p>
                  </section>
              </section>

              <h1>第十二章 &nbsp;&nbsp;&nbsp;附则</h1>
              <section>
                  <section>
                      <h3>第二十二条</h3>
                      <p>
                        VIP会员充值时，本俱乐部推荐会员使用现金进行充值。对使用贷记卡刷卡充值的会员，须承担刷卡手续费。
                      </p>
                      <h3>第二十三条</h3>
                      <p>
                        VIP会员充值时，一律不开具发票。在会员持卡消费时，上海弘仁服务站开具与会员实际付费金额一致的发票。
                      </p>
                      <h3>第二十四条</h3>
                      <p>
                        VIP会员卡一经售出，概不退卡、退费，如因会员个人原因不再使用本卡，会员可选择将卡内金额消费完毕或转让。
                      </p>
                      <h3>第二十五条</h3>
                      <p>
                        在法律允许的范围内，本公司拥有对本条例的变更权和最终解释权。
                      </p>
                  </section>
              </section>
            <h1>上海弘仁汽车俱乐部</h1>
            <h1>2017年9月1日</h1>
          </article>
      </div>
    </div>
  </div>
</body>
</html>
